.project-gif {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; 
    transition: background-color 0.3s ease-in-out;
    border: 2px solid black;
}

.project-gif::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1; 
}

.project-gif:hover::before {
    opacity: 1; 
}

.project-text {
    position: relative;
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2; 
}

.project-gif:hover .project-text {
    opacity: 1; 
}

.hidden-nav {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.navbar {
    transition: transform 0.3s ease-in-out;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #212529;
    color: white;
    position: relative;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: linear-gradient(to right, #212529, #43494e);
    animation: move-bg 10s infinite linear;
    z-index: 1;
}

@keyframes move-bg {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(180deg); }
}

header h1, header p {
    position: relative;
    z-index: 2;
}
